<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WholeLeads Admin</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/wholeadmin.css">
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
const BASE_URL = "https://leads-backend-2piw.onrender.com/api";
const token = localStorage.getItem("token");

if (!token || token === "undefined") {
  localStorage.clear();
  location.href = "adminlogin.html";
}
</script>
</head>

<body>

<div class="sidebar">
  <h2>WholeLeads</h2>
  <a href="#" class="active" onclick="showDashboard(this)">Dashboard</a>
  <a href="#" onclick="showBlogs(this)">Blogs</a>
  <a href="#" onclick="showLeads(this)">Leads</a>
  <a href="#" onclick="logout()">Logout</a>
</div>

<div class="main-content">

<div id="dashboardSection">
  <h2>Welcome Admin 👋</h2>

  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card-box">
        <h5>Total Blogs</h5>
        <h2 id="blogCount">0</h2>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-box">
        <h5>Total Leads</h5>
        <h2 id="leadCount">0</h2>
      </div>
    </div>
  </div>
</div>

<div id="blogsSection" style="display:none;">
  <h2>Blogs</h2>

  <form id="blogForm" class="mb-3">
    <input type="hidden" id="blogId">

    <input id="title" class="form-control mb-2" placeholder="Title" required>

    <textarea id="content" class="mb-2" required></textarea>


    <input id="tags" class="form-control mb-2"
           placeholder="Tags (comma separated)">

    <select id="publish" class="form-control mb-2">
      <option value="true">Publish</option>
      <option value="false">Draft</option>
    </select>

    <button class="btn btn-primary">Save Blog</button>
    <button type="button" class="btn btn-secondary" onclick="resetBlog()">Cancel</button>
  </form>

  <div id="blogList"></div>
</div>

<div id="leadsSection" style="display:none;">
  <h2>Leads</h2>
  <div id="leadList"></div>
</div>

</div>

<script src="../static/admin.js"></script>

</body>
</html>
